

<script language="JavaScript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>");
</script>

<%= devise_error_messages! %>

<div class="sec sec--hero">
  <div class="cont">
    <div class="cont--small">
      <div class="text--center">
        <div class="angle-container angle-container--form">
          <div class="angle--top">
          </div>
        </div>
        <div class="form-container">
          <div class="gap--big">
            <h1 class="h1--form-login">Ready to get results? Sign Up Below!</h1>
          </div>
          <div class="w-form" data-ix="fade-effect">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form", class: 'form' }) do |f| %>
              <div class="w-row">
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="firstname" class="field-label">First name 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="text" class="input--text w-input" maxlength="256" autofocus="false" name="firstname" data-name="firstname" id="firstname" required=""/>
                  </div>
                  <div class="gap--med">
                    <label for="lastname" class="field-label">Last name 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="text" id="lastname" name="lastname" data-name="lastname" maxlength="256" required="" class="input--text w-input"/>
                  </div>
                  <div class="gap--med">
                    <label for="email" class="field-label">Work email <span class="field-label--required">(required)</span>
                    </label>
                    <%= f.email_field :email, autofocus: false, class: "input--text w-input", type: "email", maxlength: "256", placeholder: "new@example.com", required: "true" %>
                  </div>
                </div>               
                <%= fields_for( :tenant ) do |w| %>
                  <div class="col w-col w-col-6">
                    <div class="gap--med">
                      <label for="phone" class="field-label">Phone number</label>
                      <input type="text" id="phone" name="phone" data-name="phone" maxlength="256" placeholder="+44 8080 808880" class="input--text w-input"/>
                    </div>
                    <div class="gap--med">
                      <label for="firm" class="field-label">Plan
                        <span class="field-label--required">(required)</span>
                      </label>
                      <%= w.select :plan, options_for_select(Plan.options, params[:plan]), {}, required: true, 
          class: "input--text w-input" %>
                    </div>
                    <div class="gap--med">
                      <label for="location-2" class="field-label">Company location 
                        <span class="field-label--required">(required)</span>
                      </label>
                      <div class="input--text input--text-select">
                        <select id="location" name="location" data-name="location" class="input--select w-select">
                          <option value="">
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="w-row">
                    <div class="gap--med">
                      <label for="firm" class="field-label">Practice / Firm name 
                        <span class="field-label--required">(required)</span>
                      </label>
                      <%= w.text_field :name, required: true, class: "input--text w-input", maxlength: "256", placeholder: "Unique Name of Organization" %>
                    </div>

                <%= fields_for( :payment ) do |p| %>
                  <div class="col w-col w-col-6">
                    <div class="gap--med">
                      <label for="card_number" data-stripe="label" class="field-label">Card Number
                        <span class="field-label--required">(required)</span>
                      </label>
                      <%= p.text_field :card_number, class: "input--text w-input", maxlength: "16", required: true,
                               data: { stripe: 'number' }  %>
                    </div>
                    <div class="gap--med">
                      <label for="card_cvv" class="field-label">Card CVV <span class="field-label--required">(required)</span>
                      </label>
                      <%= p.text_field :card_cvv, class: "input--text w-input", required: true, maxlength: "4",
                               data: { stripe: 'cvv' }  %>
                    </div>
                  </div>
                  <div class="col w-col w-col-6">
                    <div class="gap--med">

                      <label for="card_expires"  data-stripe="exp-month" class="field-label">Card Expires (Month)
                        <span class="field-label--required">(required)</span>
                      </label>
                      <%= p.select :card_expires_month,
                                   options_for_select(Payment.month_options),
                                   { include_blank: 'Month' },
                                   "data-stripe" => "exp-month", required: true,
                                   class: "input--text w-input"  %>
                    </div>
                    <div class="gap--med">
                      <label for="card_expires" data-stripe="exp-year" class="field-label">Card Expires (Year)
                        <span class="field-label--required">(required)</span>
                      </label>

                      <%= p.select :card_expires_year,
                                   options_for_select(Payment.year_options.push),
                                     { include_blank: 'Year' },
                                   class: "input--text w-input", required: true,
                                   data: { stripe: "exp-year"}  %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="w-row">
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="firm" class="field-label">Account New Password
                      <span class="field-label--required">(required)</span>
                    </label>
                    <%= f.password_field :password, type: "Password", maxlength: "256", required: "true", class: "input--text w-input" %>
                  </div>
                </div>
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="firm" class="field-label">Password Confirmation
                      <span class="field-label--required">(required)</span>
                    </label>
                    <%= f.password_field :password_confirmation, required: "true", maxlength: "256", class: "input--text w-input" %>
                  </div>
                </div>
              <% end %>
            </div>






              <div class="col">
                <div class="form-error">
                  <div class="form-error--text">Error message.</div>
                </div>
              </div>
              
              <div class="gap--med">
                <textarea placeholder="Further describe why you would like to use our services (not required)." maxlength="5000" class="new-textbox-regist w-input"></textarea>
              </div>
              <div class="gap--small">
                <div data-ix="button-hover" class="submit-container">

                  <%= f.submit t('.sign_up', :default => "Sign up"), value: "", class: "button button-submit w-button" %>
                  <div class="send-to-back">
                    <a href="#" id="submit-form" class="buttonconversion w-inline-block">
                      <div class="button--move">
                        <div class="button--text">Submit
                        </div>
                        <div class="button--ico-right">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="w-form-done">
              <div id="form-feedback">Thank you! Your submission has been received!
              </div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form</div>
            </div>
          </div>
        </div>
        <div class="angle-container angle-container--form">
          <div class="angle--bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



