
<%= bootstrap_devise_error_messages! %>

<div class="sec sec--hero">
  <div class="cont">
    <div class="cont--small">
      <div class="text--center">
        <div class="angle-container angle-container--form">
          <div class="angle--top">
          </div>
        </div>
        <div class="form-container">
          <div class="gap--big">
            <h1 class="h1--form-login"><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h1>
          </div>
          <div class="w-form" data-ix="fade-effect">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
              <div class="w-row">
                <div class="gap--med">
                  <label for="email" class="field-label">Account email</label>
                  <%= f.email_field :email, autofocus: true, class: "input--text w-input", type: "email", maxlength: "256", placeholder: "user@example.com", required: "true" %>
                </div>
                <div class="col">
                  <div class="form-error">
                    <div class="form-error--text">Error message.</div>
                  </div>
                </div>
                <div class="gap--small">
                  <div data-ix="button-hover" class="submit-container">
                    <%= f.submit t('.send_me_reset_password_instructions', :default => "Send"), value: "", class: "button button-submit w-button" %>
                      <div class="send-to-back">
                        <a href="#" id="submit-form" class="buttonconversion w-inline-block">
                          <div class="button--move">
                            <div class="button--text">Send
                            </div>
                            <div class="button--ico-right">
                            </div>
                          </div>
                        </a>
                      </div>
                  </div>
                </div>
            <% end %>
            <div class="w-form-done">
              <div id="form-feedback">Thank you! Your submission has been received!
              </div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form</div>
            </div>
          </div>
        </div>
        <div class="angle-container angle-container--form">
          <div class="angle--bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Below is the ruby tag for links to include html raw -->
<!--< %= link_to(raw("lalalalhtmlallalalalal"),{:pics => true},{ :class => 'highlight'})  % >-->



<%= render "devise/shared/links" %>