


<!-- NAVBAR-NEW -->

<body id="TopOfPage" data-ix="body-on-load" class="body">
  <div class="nav-wrapper--touch w-hidden-main">
    <div data-collapse="medium" data-animation="over-right" data-duration="600" class="nav w-nav" data-ix="fade-effect-2">
      <div class="nav--shadow" data-ix="fade-effect-2">
      </div>
      <a href="/" class="brand-2 w-hidden-medium w-hidden-small w-hidden-tiny w-nav-brand">
        <div class="headertagline w-clearfix">
          <h1 class="heading-2">The Recovery Unit</h1>
          <h4 class="heading">Repossessions &amp; Recovery Software Solutions</h4>
        </div>
        <div class="div-block">
        </div>
        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <a href="/" class="brand--touch w-hidden-main w-nav-brand">
        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <nav role="navigation" class="navmenu-2 w-nav-menu">
        <div class="scroll-menu">
           <% if current_user %>
            <div class="navprofimgdiv">
              <div class="w-embed">
                <a href="/">
              </div>
              <%= image_tag gravatar_url(current_user.email, 100), class: 'profileimg', alt: "" %>
              <div class="w-embed">
                </a>
              </div>
            </div>
            <%= link_to ('Signed in as: ' +truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile', class: 'navlink-userdetails w-nav-link' %>
            <a href="/" class="navlink-2 w-nav-link">Organization Home</a>
            <a href="/" class="navlink-2 w-nav-link">Recovery CMS</a>
            <%= link_to('Logout', destroy_user_session_path, class: 'navlink-userdetails w-nav-link', title: 'Logout', :method => :delete) %>
            <div data-delay="0" class="dropdown-button w-dropdown">
              <div class="dropdown w-dropdown-toggle">
                <div class="ico--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-icon-dropdown-toggle">
                </div>
                <div>More</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="/" class="navlink--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-dropdown-link">Webinar</a>
                <a href="/" class="navlink--dropdown w-dropdown-link">Contact Us</a>
                <a href="/" class="navlink--dropdown w-dropdown-link">Get an Inquiry</a>
                <a href="/" class="navlink--dropdown w-dropdown-link">Blog</a>
              </nav>
            </div>
          <% else %>
            <a href="/users/sign_in" class="navlink-2 w-nav-link">sign in</a>
            <a href="/" class="navlink-2 w-nav-link">forgotpassword</a>
            <%= link_to ('Support').html_safe, connect_support_path, class: 'navlink-2 w-nav-link' %>
            <div class="nav--button">
              <a data-ix="button-hover" href="/users/sign_up" class="button button--open button--open--bright w-inline-block">
                <div class="button--move">
                  <div class="button--ico-leftnav">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                  </div>
                  <div class="button--text">
                    <strong>Register!</strong>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
        <a href="#" class="menu--close w-hidden-main w-inline-block">
        <div class="menu-icon--line-close anti-clockwise w-hidden-main">
        </div>
        <div class="menu-icon--line-close clockwise w-hidden-main">
        </div>
      </a>
    </nav>
    <div class="menu-btn w-hidden-main w-nav-button">
      <div class="menu-icon w-icon-nav-menu">
      </div>
      <div class="div-block-3">
        <div class="menu-icon--line">
        </div>
        <div class="menu-icon--line">
        </div>
        <div class="menu-icon--line">
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ix="show-nav-bar-on-load" class="nav-wrapper">
  <div data-collapse="medium" data-animation="over-right" data-duration="600" class="nav w-nav" data-ix="fade-effect-2">
    <div class="nav--shadow" data-ix="fade-effect-2">
    </div>
    <a href="/" class="brand-2 w-hidden-medium w-hidden-small w-hidden-tiny w-nav-brand">
      <div class="headertagline w-clearfix">
        <h1 class="heading-2">The Recovery Unit</h1>
        <h4 class="heading">Repossessions &amp; Recovery Software Solutions</h4>
      </div>
      <div class="div-block">
      </div>
      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
    </a>
    <a href="/" class="brand--touch w-hidden-main w-nav-brand">
      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
    </a>
    <nav role="navigation" class="navmenu-2 w-nav-menu">
      <div class="scroll-menu">
           <% if current_user %>
            <div class="navprofimgdiv">
              <div class="w-embed">
                <a href="/">
              </div>
              <%= image_tag gravatar_url(current_user.email, 100), class: 'profileimg', alt: "" %>
              <div class="w-embed">
                </a>
              </div>
            </div>
            <%= link_to ('Signed in as: ' +truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile', class: 'navlink-userdetails w-nav-link' %>
            <a href="/" class="navlink-2 w-nav-link">Organization Home</a>
            <a href="/" class="navlink-2 w-nav-link">Recovery CMS</a>
            <%= link_to('Logout', destroy_user_session_path, class: 'navlink-userdetails w-nav-link', title: 'Logout', :method => :delete) %>

            <div data-delay="0" class="dropdown-button w-dropdown">
              <div class="dropdown w-dropdown-toggle">
                <div class="ico--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-icon-dropdown-toggle">
                </div>
                <div>More</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="/" class="navlink--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-dropdown-link">Webinar</a>
                
            <b><%= link_to ('Edit Profile').html_safe, edit_user_registration_path, class: 'navlink--dropdown w-dropdown-link' %></b>
            <br>
                <a href="/" class="navlink--dropdown w-dropdown-link">Projects</a>
              </nav>
            </div>
          <% else %>
            <a href="/" class="navlink-2 w-nav-link">Home</a>
          <%= link_to('Sign In', new_user_session_path, class: 'navlink-2 w-nav-link', title: 'Sign In') %>
            <div class="nav--button">
              <a data-ix="button-hover" href="/users/sign_up" class="button button--open button--open--bright w-inline-block">
                <div class="button--move">
                  <div class="button--ico-leftnav">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                  </div>
                  <div class="button--text">
                    <strong>Sign Up!</strong>
                  </div>
                  <div class="button--ico-rightnav">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="10"/>
                  </div>
                </div>
              </a>
            </div>
            

            <div data-delay="0" class="dropdown-button w-dropdown">
              <div class="dropdown w-dropdown-toggle">
                <div class="ico--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-icon-dropdown-toggle">
                </div>
                <div>More</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <%= link_to ('Support').html_safe, connect_support_path, class: 'navlink--dropdown w-dropdown-link' %><br>
                <a href="/users/password/new" class="navlink--dropdown w-dropdown-link">Forgot Password?</a>
              </nav>
            </div>
        <% end %>
      </div>
      <a href="#" class="menu--close w-hidden-main w-inline-block">
        <div class="menu-icon--line-close anti-clockwise w-hidden-main">
        </div>
        <div class="menu-icon--line-close clockwise w-hidden-main">
        </div>
      </a>
    </nav>
    <div class="menu-btn w-hidden-main w-nav-button">
      <div class="menu-icon w-icon-nav-menu">
      </div>
      <div class="div-block-3">
        <div class="menu-icon--line">
        </div>
        <div class="menu-icon--line">
        </div>
        <div class="menu-icon--line">
        </div>
      </div>
  </div>
</div>
</div>
