
<!-- BELOW IS THE WEBFLOW VERSION -->

<!DOCTYPE html>
  <!-- Last Published: Mon Apr 09 2018 21:57:37 GMT+0000 (UTC) -->
<html data-wf-domain="recoveryunit.webflow.io" data-wf-page="5a15e2e5b1b09d0001915c7d" data-wf-site="5a15d29e58352800010ead96">
<!-- HEADER -->
<head>
  <meta charset="utf-8"/>
    <title><%= content_for?(:title) ? yield(:title) : "RSoftware" %></title>
    <%= csrf_meta_tags %>
  <meta content="Automated recovery software. RSoftware is a repossession software management system solution." name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://uploads-ssl.webflow.com/5a15d29e58352800010ead96/css/recoveryunit.938d59500.min.css" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript">
  </script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]  }});</script>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag "application" %>
<!--[if lt IE 9]><script
        src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
        type="text/javascript"></script><![endif]-->
        <script type="text/javascript">
            !function (o, c)
            {
                var n = c.documentElement,
                    t = " w-mod-";
                n.className += t + "js",
                ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (
                    n.className += t + "touch"
                )
            }(window, document);
        </script><link
            href="https://daks2k3a4ib2z.cloudfront.net/5a15d29e58352800010ead96/5a555d2729f1720001df2b43_32icon.png"
            rel="shortcut icon"
            type="image/x-icon"/><link
            href="https://daks2k3a4ib2z.cloudfront.net/5a15d29e58352800010ead96/5a555df7151dee0001cd6200_256icon%20(1).png"
            rel="apple-touch-icon"/>


  <style>
    body {
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
                .w-webflow-badge {
                  z-index: -2177483647!important;
                  display: none!important;
              }
              
      .w-slider-dot { background: #e6eeff; }
      .w-slider-dot.w-active { background: rgba(7, 29, 73, 0.6); } 
  </style>
</head>

<%= render 'common/navbar' %>

  <!-- BODY -->

  <section data-ix="reduce-nav-bar-on-scroll" class="body-wrapper">
<!--FLASH MESSAGES-->
    <%= render 'layouts/messages' %>
      <%= yield %>

    
    
    
    



  
  
  
  
  
  </section>
  



    <!--FOOTER -->


    <section data-ix="fade-effect" class="sec">
      <footer class="footer">
        <div class="sec sec--navy">
          <div class="cont">
            <div class="w-row">
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">Recovery Services</h5>
                  </div>
                  <a href="/#HowItWorks" class="link--footer">How it works</a>
                  <a href="/contact-us" class="link--footer">Contact Us</a>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">Resources</h5>
                  </div>
                  <a href="/#BenefitsLst" class="link--footer">Benefits</a>
                  <a href="/#MobileUsage" class="link--footer">Mobile Usage</a>
                  <%= link_to ('Support').html_safe, connect_support_path, class: 'link--footer' %>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">For Our Clients</h5>
                  </div>
                  <a href="/accountants-bookkeepers" class="link--footer">Recovery Agency Client CMS</a>
                  <a href="/#PlansSection" class="link--footer">Pricing - Recovery Automated Client Account Pricing</a>
                  <a href="/small-medium-businesses" class="link--footer">Bank/Lenders Automated Invoicing</a>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="box">
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-legend">
              <div class="col">
                <div class="footer-logo">
                  <a href="/" >
                    <img src="https://image.ibb.co/ekBH58/5a555d2729f1720001df2b43_32icon_1.png" class="img--footer-logo"/>
                  </a>
                </div>
                <div class="text--center">
                  <div class="copyright">© The Recovery Unit 2010 - 2018<br/>Application designed and developed by:  
                  <a href="https://mrginnovations.com">MRGI Software Solutions</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>



  
  




        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            type="text/javascript"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
          <script
            src="https://uploads-ssl.webflow.com/5a15d29e58352800010ead96/js/recoveryunit.8fcdfb12f.js"
            type="text/javascript">
        </script>
        <!--[if lte IE 9]><script
        src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

     <script>
            function addCountries(whereto)
            {
                var countriesfile = "United Kingdom, Ireland, United States of America, Australia, New Zealand, Sou" +
                        "th Africa, Canada, ——————————, Afghanistan, Albania, Algeria, Andorra, Angola," +
                        " Antigua & Deps, Argentina, Armenia, Austria, Azerbaijan, Bahamas, Bahrain, Ba" +
                        "ngladesh, Barbados, Belarus, Belgium, Belize, Benin, Bhutan, Bolivia, Bosnia H" +
                        "erzegovina, Botswana, Brazil, Brunei, Bulgaria, Burkina, Burma, Burundi, Cambo" +
                        "dia, Cameroon, Cape Verde, Central African Rep, Chad, Chile, People's Republic" +
                        " of China, Republic of China, Colombia, Comoros, Democratic Republic of the Co" +
                        "ngo, Republic of the Congo, Costa Rica, Croatia, Cuba, Cyprus, Czech Republic," +
                        " Danzig, Denmark, Djibouti, Dominica, Dominican Republic, East Timor, Ecuador," +
                        " Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Ethiopia, Fiji, Finl" +
                        "and, France, Gabon, Gaza Strip, The Gambia, Georgia, Germany, Ghana, Greece, G" +
                        "renada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Holy Roman Empire, Ho" +
                        "nduras, Hungary, Iceland, India, Indonesia, Iran, Iraq, Israel, Italy, Ivory C" +
                        "oast, Jamaica, Japan, Jonathanland, Jordan, Kazakhstan, Kenya, Kiribati, North" +
                        " Korea, South Korea, Kosovo, Kuwait, Kyrgyzstan, Laos, Latvia, Lebanon, Lesoth" +
                        "o, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg, Macedonia, Madagascar" +
                        ", Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Mauritania, Mauri" +
                        "tius, Mexico, Micronesia, Moldova, Monaco, Mongolia, Montenegro, Morocco, Moun" +
                        "t Athos, Mozambique, Namibia, Nauru, Nepal, Newfoundland, Netherlands, Nicarag" +
                        "ua, Niger, Nigeria, Norway, Oman, Ottoman Empire, Pakistan, Palau, Panama, Pap" +
                        "ua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal, Prussia, Qatar, " +
                        "Romania, Rome, Russian Federation, Rwanda, St Kitts & Nevis, St Lucia, Saint V" +
                        "incent & the, Grenadines, Samoa, San Marino, Sao Tome & Principe, Saudi Arabia" +
                        ", Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Slovakia, Slovenia, So" +
                        "lomon Islands, Somalia, Spain, Sri Lanka, Sudan, Suriname, Swaziland, Sweden, " +
                        "Switzerland, Syria, Tajikistan, Tanzania, Thailand, Togo, Tonga, Trinidad & To" +
                        "bago, Tunisia, Turkey, Turkmenistan, Tuvalu, Uganda, Ukraine, United Arab Emir" +
                        "ates, Uruguay, Uzbekistan, Vanuatu, Vatican City, Venezuela, Vietnam, Yemen, Z" +
                        "ambia, Zimbabwe";
                var countries = countriesfile.split(", ");
                for (var c = 0; c < countries.length; c++)
                {
                    $(whereto).append(
                        '<option value="' + countries[c] + '">' + countries[c] + '</option>'
                    );
                    $(whereto)
                        .children()
                        .first()
                        .attr("disabled", "disabled");
                    $(whereto)
                        .children()
                        .eq(8)
                        .attr("disabled", "disabled");
                }
            }

            Webflow.push(function ()
            {
                addCountries('#location');
            });
        </script>
    
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "application" %>      
    </body>
</html>
