
















<!-- BELOW IS THE WEBFLOW VERSION -->
















<!DOCTYPE html>
  <!-- Last Published: Mon Apr 09 2018 21:57:37 GMT+0000 (UTC) -->
<html data-wf-domain="recoveryunit.webflow.io" data-wf-page="5a15e2e5b1b09d0001915c7d" data-wf-site="5a15d29e58352800010ead96">
<!-- HEADER -->
<head>
  <meta charset="utf-8"/>
    <title><%= content_for?(:title) ? yield(:title) : "RecoverySoftware" %></title>
    <%= csrf_meta_tags %>
  <meta content="Automated recovery software. RSoftware is a repossession software management system solution." name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://uploads-ssl.webflow.com/5a15d29e58352800010ead96/css/recoveryunit.a83dfc2ca.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript">
  </script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]  }});</script>
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript">
  </script>
  <![endif]-->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>

  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag "application" %>

  <link href="https://daks2k3a4ib2z.cloudfront.net/5a15d29e58352800010ead96/5a555d2729f1720001df2b43_32icon.png" rel="shortcut icon" type="image/x-icon"/>
  <link href="https://daks2k3a4ib2z.cloudfront.net/5a15d29e58352800010ead96/5a555df7151dee0001cd6200_256icon%20(1).png" rel="apple-touch-icon"/>

  <style>
    body {
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
                .w-webflow-badge {
                  z-index: -2177483647!important;
                  display: none!important;
              }
      .w-slider-dot { background: #e6eeff; }
      .w-slider-dot.w-active { background: rgba(7, 29, 73, 0.6); } 
  </style>
</head>








<%= render 'common/navbar' %>




  <!-- BODY -->

  <section data-ix="reduce-nav-bar-on-scroll" id="TopOfPage" class="body-wrapper">



<%= yield %>

    
    
    
    
    
    
    
    
        <section class="sec sec--color">
      <div class="angle-container">
        <div class="angle--top">
        </div>
        <div class="angle-title">
          <div class="jumbo" data-ix="fade-effect">Welcome to Rsoftware!</div>
        </div>
      </div>
      <div class="cont">
        <div class="subsec">
          <ul class="grid" data-ix="fade-effect">
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="gap--small">
                  <div class="img--feature-container">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadf1_%5Bautoentry%5Dico_mobile_gradient.svg" class="img--feature"/>
                  </div>
                </div>
                <div class="displacement--right">
                  <div class="blue--light">
                    <div class="room--small room--small-light">
                      <h4>Free</h4>
                      <p>Price: Free</p>
                      <ul>
                        <li>unlimited uploads</li>
                        <li>Responsive Design</li>
                        <li>Access Anywhere</li>
                        <li>
                          <strong>
                            <em>1 Project</em>
                          </strong>
                        </li>
                      </ul>
                      <a data-ix="button-hover" href="/mobile-app" class="button button--open button--open--bright w-inline-block">
                        <div class="button--move">
                          <div class="button--ico-left">
                            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                          </div>
                          <div class="button--text">Sign Up Free</div>
                          <div class="button--ico-right">
                            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="gap--small">
                  <div class="img--feature-container">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadee_%5Bautoentry%5Dico_integrations_gradient.svg" class="img--feature"/>
                  </div>
                </div>
                <div class="displacement--right">
                  <div class="blue--light">
                    <div class="room--small room--small-light">
                      <h4>Premium</h4>
                      <p>Price: $10 a month</p>
                      <ul>
                        <li>unlimited uploads</li>
                        <li>Responsive Design</li>
                        <li>Access Anywhere</li>
                        <li>
                          <strong>
                            <em class="highlighted">Unlimited Projects</em>
                          </strong>
                        </li>
                      </ul>
                      <a data-ix="button-hover" href="/mobile-app" class="button button--open button--open--bright w-inline-block">
                        <div class="button--move">
                          <div class="button--ico-left">
                            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                          </div>
                          <div class="button--text"><bold>Sign Up Premium</bold></div>
                            <div class="button--ico-right">
                              <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                            </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="subsec">
          <div class="col">
            <div class="text--center">
              <div class="center-correction" data-ix="fade-effect">
                <div class="gap--inline">
                  <a href="/accountants-bookkeepers" data-ix="button-hover" class="button w-inline-block">
                    <div class="button--move">
                      <div class="button--ico-left">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                      <div class="button--text">Recovery</div>
                      <div class="button--ico-right">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="gap--inline">
                  <a href="/accountants-bookkeepers" data-ix="button-hover" class="button w-inline-block">
                    <div class="button--move">
                      <div class="button--ico-left">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                      <div class="button--text">sign in</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>









    <section class="sec sec--hero" data-ix="fade-effect">
      <div class="author">
      </div>
      <div class="author">
        <p class="paragraph">You&#x27;ll love managing your project with our Management Software. Please take a look at our great plans</p>
      </div>
      <div class="cont">
        <div class="subsec">
          <div class="col">
            <div class="frame-container frame-container--hero">
              <div class="frame frame--gradient">
                <div class="frame-border--big">
                  <div class="frame-mask--white">
                  </div>
                </div>
              </div>
            </div>
            <div class="room--big">
              <div class="hero--home">
                <div class="hero--title">
                  <div class="white">
                    <div class="pos--relative">
                      <h1>
                        <em>Changing how recoveries are done.</em>
                      </h1>
                      <div class="gap--med">
                        <p>The Recovery Unit automates recoveries by accurately capturing all of your invoices, Lien recoveries and statements into one accounting solution</p>
                      </div>
                      <div class="gap--xsmall">
                        <a href="/new-site-pages/registration" data-ix="button-hover" class="buttonmobile w-hidden-main w-hidden-medium w-inline-block">
                          <div class="button--move">
                            <div class="button--ico-left">
                              <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                            </div>
                            <div class="button--text">Services</div>
                            <div class="button--ico-right w-hidden-small w-hidden-tiny">
                              <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                            </div>
                          </div>
                        </a>
                        <a href="/new-site-pages/registration" data-ix="button-hover" class="buttonbig w-hidden-small w-hidden-tiny w-inline-block">
                          <div class="button--move">
                            <div class="button--ico-left">
                              <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="20" class="image-2"/>
                            </div>
                            <div class="button--textjumbo">
                              <em>Sign Up</em>
                            </div>
                            <div class="button--ico-rightjumbo">
                              <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="25" class="image-5"/>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="gap--med">
                        <div class="gap--xsmall">
                        </div>
                      </div>
                    </div>
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a553146e519160001e50653_5a15d29e58352800010eae68_%5Bautoentry%5Dhero-laptop-min2.png" sizes="100vw" class="img--hero img-hero--laptop2" data-ix="slideimageintoscroll"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont--medium" data-ix="fade-effect">
          <div class="subsec">
            <div class="gap--small">
              <div class="text--center">
                <h5>A trusted solution provider</h5>
              </div>
            </div>
            <div class="w-row">
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae54_logo_deloitte%402x.png" class="company-logo"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae56_logo_bdo%402x.png" class="company-logo"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae79_sagars.png" class="company-logo company-logo--enlarge"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae55_logo_pkf%402x.png" class="company-logo"/>
                </div>
              </div>
            </div>
            <div class="w-row">
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6 w-col-medium-3">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae78_logo_armstrong-watson%402x.png" class="company-logo company-logo--enlarge"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6 w-col-medium-3">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eade5_Menzies%20logo.svg" class="company-logo"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6 w-col-medium-3">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae76_logo_kingston-smith%402x.png" class="company-logo company-logo--enlarge"/>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-6 w-col-tiny-6 w-col-medium-3">
                <div class="company-logo--container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadd8_Kreston_Reeves%20logo.png" class="company-logo"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="divider">
            </div>
          </div>
          <div class="subsec">
            <div class="gap--small">
              <div class="text--center">
                <h5>Our numbers</h5>
              </div>
            </div>
            <ul class="grid">
              <li class="grid--item grid--item-stats">
                <p class="info-box">
                  <span class="stat-data">492</span>
                  <span xmlns="http://www.w3.org/1999/xhtml"> Banks</span>
                </p>
              </li>
              <li class="grid--item grid--item-stats">
                <p class="info-box">
                <span class="stat-data">5,463</span> Agencies Using Us</p>
              </li>
              <li class="grid--item grid--item-stats">
                <p class="info-box">
                <span class="stat-data">325,000 +</span> Transactions</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  
    <section class="sec sec--hero">
      <div class="cont">
        <div class="subsec">
          <div data-ix="enter-frame-on-load" class="frame-container frame-container--hero frame-container--hero-image">
            <div class="frame frame--gradient">
              <div class="frame-border--big">
                <div class="frame-mask--white">
                </div>
              </div>
            </div>
          </div>
          <div class="room--big">
            <div class="col">
              <div class="hero--title hero--title--no-img">
                <div class="white">
                  <div class="room--small">
                    <h3 class="heading-3" data-ix="fade-effect">Use Recovery Software from your Apple or Android phone</h3>
                  </div>
                </div>
              </div>
            </div>
            <div data-ix="enter-content-on-load" class="w-row">
              <div class="col w-col w-col-6 w-col-tiny-tiny-stack w-col-stack">
                <div class="displacement--hero-left">
                  <div class="gap--big">
                    <p>In this mobile age, we know our customers are constantly on the move, and can be working either at the office or with a client at a moments notice.</p>
                  </div>
                  <div>
                    <div class="gap--small">
                      <a target="_blank" href="https://itunes.apple.com/ie/app/autoentry/id1166292687?mt=8" class="link-block w-inline-block">
                      </a>
                    </div>
                    <div class="gap--small">
                      <a href="https://play.google.com/store/apps/details?id=com.ocrex.autoentry&amp;hl=en" target="_blank" class="link-block w-inline-block">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col w-col w-col-6 w-col-tiny-tiny-stack w-col-stack">
                <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a5531b6335a1a000182e93c_5a15d29e58352800010eae73_mobile-asset-min-2.png" sizes="100vw" class="img--hero img--hero__mobile" data-ix="slideimageintoscroll"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    











    <div>
      <div class="angle-container">
        <div class="angle--bottom">
        </div>
        <div class="angle-title">
          <div class="jumbo" data-ix="fade-effect">
          </div>
        </div>
      </div>
    </div>
    <div class="angle-container">
      <div class="angle--top">
      </div>
      <div class="angle-title">
        <div class="jumbo" data-ix="fade-effect">Benefits</div>
      </div>
    </div>












    <section class="sec sec--color">
      <div class="cont">
        <div class="subsec">
          <ul class="grid" data-ix="fade-effect">
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="gap--small">
                  <div class="img--feature-container">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadf0_%5Bautoentry%5Dico_save-time_gradient.svg" width="84" class="img--feature"/>
                  </div>
                </div>
              <div class="displacement--right">
                <div class="blue--light">
                  <div class="room--small">
                    <h4>Save time</h4>
                      <p>No more manually inputting invoices, receipts or invoices. Recovery Software extracts the invoice data you need and publishes to your Recovery Statuses.</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
            <div class="room--medium">
              <div class="gap--small">
                <div class="img--feature-container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadef_%5Bautoentry%5Dico_paperless_gradient.svg" class="img--feature"/>
                </div>
              </div>
              <div class="displacement--right">
                <div class="blue--light">
                  <div class="room--small room--small-light">
                    <h4>Paperless</h4>
                    <p>With data stored securely in the cloud, there&#x27;s no need to store, file, print and copy paper documents anymore. This highly increases our productivity with our clients, and the recovery process.</p>
                  </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="gap--small">
                  <div class="img--feature-container">
                    <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadee_%5Bautoentry%5Dico_integrations_gradient.svg" class="img--feature"/>
                  </div>
                </div>
                <div class="displacement--right">
                  <div class="blue--light">
                    <div class="room--small room--small-light">
                    <h4>Integrations</h4>
                    <p>Seamless automatic publishing of verified data from our drivers onto our your status dashboard as a lien holder.</p>
                      <a data-ix="button-hover" href="/integrate-seamlessly" class="button button--open button--open--bright w-inline-block">
                        <div class="button--move">
                          <div class="button--ico-left">
                            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                          </div>
                          <div class="button--text">See Integrations</div>
                          <div class="button--ico-right">
                            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item-fourth">
              <div class="frame-container">
                <div class="frame frame--navy">
                  <div class="frame-border--small">
                    <div class="frame-mask--light">
                    </div>
                  </div>
                </div>
              </div>
            <div class="room--medium">
              <div class="gap--small">
                <div class="img--feature-container">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadf1_%5Bautoentry%5Dico_mobile_gradient.svg" class="img--feature"/>
                </div>
              </div>
              <div class="displacement--right">
                <div class="blue--light">
                  <div class="room--small room--small-light">
                    <h4>Mobile App</h4>
                    <p>Coming Soon..</p>
                    <a data-ix="button-hover" href="/mobile-app" class="button button--open button--open--bright w-inline-block">
                      <div class="button--move">
                        <div class="button--ico-left">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                        </div>
                        <div class="button--text">The App</div>
                        <div class="button--ico-right">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae12_%5Bautoentry%5Dbtn-arrow-crimson.svg" width="8"/>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              </div>
            </li>
        </ul>
        </div>
        <div class="subsec">
          <div class="col">
            <div class="text--center">
              <div class="center-correction" data-ix="fade-effect">
                <div class="gap--inline">
                  <a href="/accountants-bookkeepers" data-ix="button-hover" class="button w-inline-block">
                    <div class="button--move">
                      <div class="button--ico-left">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                      <div class="button--text">Recovery</div>
                      <div class="button--ico-right">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="gap--inline">
                  <a href="/accountants-bookkeepers" data-ix="button-hover" class="button w-inline-block">
                    <div class="button--move">
                      <div class="button--ico-left">
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae17_%5Bautoentry%5Dbtn-arrow-white.svg" width="8"/>
                      </div>
                      <div class="button--text">sign in</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>









    <div>
      <div class="angle-container">
        <div class="angle--bottom">
        </div>
        <div class="angle-title">
          <div class="jumbo" data-ix="fade-effect">How it works</div>
        </div>
      </div>
    </div>









    <section class="sec">
      <div class="cont">
        <div class="subsec">
          <ul class="grid" data-ix="fade-effect">
            <li class="grid--item grid--item--gradient-boxes">
              <div class="frame-container frame-container--advanced">
                <div class="frame frame--gradient">
                  <div class="frame-border--small">
                    <div class="frame-mask--white">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="displaced-header">
                  <div class="white">
                    <div class="room--small">
                      <h3>
                        <span class="title-info">01<br xmlns="http://www.w3.org/1999/xhtml"/>
                      </span>Post your projects and help needed on jobs</h3>
                    </div>
                  </div>
                </div>
                <div class="displacement--advanced">
                  <div class="gap--small">
                    <p>Users actively view you postings submitted and can respond to jobs you need help with.</p>
                  </div>
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae3c_%5Bautoentry%5Dicons_submit.svg" class="img--illustration"/>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item--gradient-boxes">
              <div class="frame-container frame-container--advanced">
                <div class="frame frame--gradient">
                  <div class="frame-border--small">
                    <div class="frame-mask--white">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="displaced-header">
                  <div class="white">
                    <div class="room--small">
                      <h3>
                        <span class="title-info">02<br xmlns="http://www.w3.org/1999/xhtml"/>
                      </span>Work with independent users on larger scale</h3>
                    </div>
                  </div>
                </div>
                <div class="displacement--advanced">
                  <div class="gap--small">
                    <p>Our API Networks provide Innovate accurate answers to logistics for drivers. While saving all files on our database effortlessly with online solutions.</p>
                  </div>
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae3d_%5Bautoentry%5Dicons_verify.svg" class="img--illustration"/>
                </div>
              </div>
            </li>
            <li class="grid--item grid--item--gradient-boxes">
              <div class="frame-container frame-container--advanced">
                <div class="frame frame--gradient">
                  <div class="frame-border--small">
                    <div class="frame-mask--white">
                    </div>
                  </div>
                </div>
              </div>
              <div class="room--medium">
                <div class="displaced-header">
                  <div class="white">
                    <div class="room--small">
                      <h3>
                        <span class="title-info">03<br xmlns="http://www.w3.org/1999/xhtml"/>
                        </span>Independent contracts get paid once the job is finished
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="displacement--advanced">
                  <div class="gap--small">
                    <p>Our Software ensures the simplest possible publishing to the widest range of cloud and project assistance software.</p>
                  </div>
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae3e_%5Bautoentry%5Dicons_ntegration.svg" class="img--illustration"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="subsec">
          <div class="col">
            <div class="text--center" data-ix="fade-effect">
            </div>
          </div>
        </div>
      </div>
    </section>









    <section>
      <div class="angle-container">
        <div class="angle-title">
          <div class="jumbo" data-ix="fade-effect">Testimonials</div>
        </div>
      </div>
      <div class="cont reduced-top-bug-1">
        <div class="cont--medium">
          <div class="col">
            <div class="subsec">
              <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
                <div class="w-slider-mask">
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadf2_%5Bautoentry%5Dico_quote_gradient.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>The quality of the software is exceptional and critically, the platform can flex to accommodate fluctuating 
                      workloads without compromising on speed, or quality of the data yielded.</blockquote>
                      <div>
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                      </div>
                    </div>
                    <div class="testimonial-profile">
                      <div class="vertical-alignment--middle">
                        <div class="gap--inline">
                          <div class="person-info">
                            <span class="text--emphasis">Ruth Gibson<br/>
                            </span>Alpha Hooks Inc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eadf2_%5Bautoentry%5Dico_quote_gradient.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>Delivered at reasonable rates, and with an excellent customer service team, RepoCount is frankly the only solution businesses should consider when looking to automate bookkeeping data entry.</blockquote>
                    <div>
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                    </div>
                    </div>
                    <div class="vertical-alignment--middle">
                      <div class="gap--inline">
                        <div>
                          <span class="text--emphasis">Israel  Stokes<br/>
                          </span>
                          LuckyFinn Accountants
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae1c_%5Bautoentry%5Dico_quote_gradient%402x.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>We’re very impressed with RepoCount and the efficiencies it has generated so far, including<br/>
                      time savings upwards of 50%. RepoCount will remain a core component of our ongoing digital strategy, automating data entry and enabling us to take on more new business with the additional capacity.</blockquote>
                      <div>
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                      </div>
                    </div>
                    <div class="vertical-alignment--middle">
                      <div class="gap--inline">
                        <div>
                          <span class="text--emphasis">Blake  Thornton<br/>
                          </span>The WhiteFish Corp
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae1c_%5Bautoentry%5Dico_quote_gradient%402x.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>RepoCount has become a key resource for Sagars and is a crucial component of our ongoing digital strategy. It’s provided us with the required automated intelligence to expand our bookkeeping services and gain a competitive edge. Our team and clients have adapted quickly to the solution and we’ve see major productivity gains.</blockquote>
                      <div>
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                      </div>
                    </div>
                    <div class="vertical-alignment--middle">
                      <div class="gap--inline">
                        <div>
                          <span class="text--emphasis">Peter  Bowen<br/>
                          </span>TrueTrend Investments
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae1c_%5Bautoentry%5Dico_quote_gradient%402x.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>RepoCount has transformed our back office operations whilst providing us with the<br/>
                      technological agility needed to scale our practice. We’re delighted with the efficiencies <br/>
                      generated so far, including time savings of approximately 50% by eliminating manual<br/>
                      data entry.</blockquote>
                      <div>
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                      </div>
                    </div>
                    <div class="vertical-alignment--middle">
                      <div class="gap--inline">
                        <div>
                          <span class="text--emphasis">Jessie Medina<br/>
                          </span>SpeedyRecoveries LLC
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide w-slide">
                    <div class="gap--med">
                      <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae1c_%5Bautoentry%5Dico_quote_gradient%402x.svg"/>
                    </div>
                    <div class="gap--med">
                      <blockquote>As a bookkeeping customer service agency, we&#x27;re really pleased to have discovered RepoCount. It&#x27;s so flexible, being able to process both accounts and payment transactions and to also turn pdf bank statements into csv files that will integrate with Xero bank feed lines. It&#x27;s particularly good being able to spread the credits across multiple companies.</blockquote>
                      <div>
                        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae07_%5Bautoentry%5Drating_5.svg"/>
                      </div>
                    </div>
                    <div class="vertical-alignment--middle">
                      <div class="gap--inline">
                        <div>
                          <span class="text--emphasis">Annie  Glover<br/>
                          </span>CloudTrust
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ico--slider w-slider-arrow-left">
                  <div class="w-icon-slider-left">
                  </div>
                </div>
                <div class="ico--slider w-slider-arrow-right">
                  <div class="w-icon-slider-right">
                  </div>
                </div>
                <div class="slidenav w-slider-nav w-round">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>











    <div class="angle-container">
      <a data-ix="button-hover" href="#TopOfPage" class="buttoncentered w-inline-block">
        <div class="button--move">
          <div class="button--ico-left">
          </div>
          <div class="button--text">Back to top</div>
          <div class="button--ico-right">
          </div>
        </div>
      </a>
    </div>




    <!--FOOTER -->





    <section class="sec">
      <footer class="footer">
        <div class="sec sec--navy">
          <div class="cont">
            <div class="w-row">
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">Recovery Services</h5>
                  </div>
                  <a href="/about-us" class="link--footer">About Us</a>
                  <a href="/contact-us" class="link--footer">Contact Us</a>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">Resources</h5>
                  </div>
                  <a href="/integrate-seamlessly" class="link--footer">Add-ons</a>
                  <a href="/mobile-app" class="link--footer">Mobile app</a>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="gap--med">
                  <div class="gap--small">
                    <h5 class="text-color--blue">For Our Clients</h5>
                  </div>
                  <a href="/accountants-bookkeepers" class="link--footer">Recovery Agency Client CMS</a>
                  <a href="/pricing-accountants-bookkeepers" class="link--footer">Pricing - Recovery Automated Client Account Pricing</a>
                  <a href="/small-medium-businesses" class="link--footer">Bank/Lenders Automated Invoicing</a>
                </div>
              </div>
              <div class="col w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                <div class="box">
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-legend">
              <div class="col">
                <div class="footer-logo">
                  <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555d2729f1720001df2b43_32icon.png" class="img--footer-logo"/>
                </div>
                <div class="text--center">
                  <div class="copyright">© The Recovery Unit 2010 - 2018<br/>Application designed and developed by:  
                  <a href="http://mrgi.webflow.io/">MRGI Software Solutions</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>








    
  </section>



  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
  </script>
  <script src="https://uploads-ssl.webflow.com/5a15d29e58352800010ead96/js/recoveryunit.5b0c8c39f.js" type="text/javascript">
  </script>
  <!--[if lte IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js">
  </script>
  <![endif]-->
    <script>
      function addCountries(whereto) {
      var countriesfile = "United Kingdom, Ireland, United States of America, Australia, New Zealand, South Africa, Canada, ——————————, Afghanistan, Albania, Algeria, Andorra, Angola, Antigua & Deps, Argentina, Armenia, Austria, Azerbaijan, Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bhutan, Bolivia, Bosnia Herzegovina, Botswana, Brazil, Brunei, Bulgaria, Burkina, Burma, Burundi, Cambodia, Cameroon, Cape Verde, Central African Rep, Chad, Chile, People's Republic of China, Republic of China, Colombia, Comoros, Democratic Republic of the Congo, Republic of the Congo, Costa Rica, Croatia, Cuba, Cyprus, Czech Republic, Danzig, Denmark, Djibouti, Dominica, Dominican Republic, East Timor, Ecuador, Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Ethiopia, Fiji, Finland, France, Gabon, Gaza Strip, The Gambia, Georgia, Germany, Ghana, Greece, Grenada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Holy Roman Empire, Honduras, Hungary, Iceland, India, Indonesia, Iran, Iraq, Israel, Italy, Ivory Coast, Jamaica, Japan, Jonathanland, Jordan, Kazakhstan, Kenya, Kiribati, North Korea, South Korea, Kosovo, Kuwait, Kyrgyzstan, Laos, Latvia, Lebanon, Lesotho, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg, Macedonia, Madagascar, Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Mauritania, Mauritius, Mexico, Micronesia, Moldova, Monaco, Mongolia, Montenegro, Morocco, Mount Athos, Mozambique, Namibia, Nauru, Nepal, Newfoundland, Netherlands, Nicaragua, Niger, Nigeria, Norway, Oman, Ottoman Empire, Pakistan, Palau, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal, Prussia, Qatar, Romania, Rome, Russian Federation, Rwanda, St Kitts & Nevis, St Lucia, Saint Vincent & the, Grenadines, Samoa, San Marino, Sao Tome & Principe, Saudi Arabia, Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Slovakia, Slovenia, Solomon Islands, Somalia, Spain, Sri Lanka, Sudan, Suriname, Swaziland, Sweden, Switzerland, Syria, Tajikistan, Tanzania, Thailand, Togo, Tonga, Trinidad & Tobago, Tunisia, Turkey, Turkmenistan, Tuvalu, Uganda, Ukraine, United Arab Emirates, Uruguay, Uzbekistan, Vanuatu, Vatican City, Venezuela, Vietnam, Yemen, Zambia, Zimbabwe";
      var countries = countriesfile.split(", ");
      for(var c = 0; c<countries.length; c++) {
        $(whereto).append('<option value="' + countries[c] + '">' + countries[c] + '</option>');
        $(whereto).children().first().attr("disabled","disabled");
        $(whereto).children().eq(8).attr("disabled","disabled");
      }
    }

    Webflow.push(function() {
      addCountries('#location');
    });
      
      
    </script>
</body>
</html>
